<GridLayout rows="auto,*" >
    <StackLayout row="0">
        <ActionBar>
            <StackLayout orientation="horizontal">
                <GridLayout>
                    <Label text="&#xf060;" class="fa rad-icon" (tap)="onNavigate()" horizontalAlignment="left"></Label>
            <Image src="~/images/logo1.png" stretch="aspectFill" class="headerimg" verticalAlignment="center"
            horizontalAlignment="left"></Image>

                </GridLayout>
            </StackLayout>
        </ActionBar>
    </StackLayout>


  <ScrollView row="1">
      <StackLayout backgroundcolor="lightgray">

        <GridLayout class="homeindex">
          <Image src="~/images/custom.png"></Image>
            <GridLayout verticalAlignment="bottom">
              <StackLayout >
                  <Label text="CUSTOM" color="black"></Label>
                </StackLayout>
              </GridLayout>
        </GridLayout>

        <GridLayout rows="*,*,*" columns="*,*" >

          <GridLayout row="0" col="0" padding="3">
            <StackLayout>
            <StackLayout backgroundcolor="white">
              <Image src="~/images/road/custom1.jpg" ></Image>
              <StackLayout>
                <Label text="S-Work Tarmac"></Label>
              </StackLayout>
              <StackLayout>
                  <Label text="Unbelievably fast!

We have provided this Tarmac S-Works with Sram Force eTAP and a set of Roval CL50 wheels,equipped with Turbo Cotton tires" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>

            </StackLayout>
          </GridLayout>


          <GridLayout row="0" col="1" padding="3">
            <StackLayout backgroundcolor="white">
              <Image src="~/images/road/custom2.jpg" ></Image>
              <StackLayout>
                <Label text="S- Works Venge QuickStep"></Label>
              </StackLayout>
              <StackLayout>
                  <Label textWrap="true" text="the speed machine among the bikes.

We have assembled this replica Quickstep frame with Shimano Ultegra D12 group and eqipped wiht Roval CL 50 wheels with Turbo Cotton">
                  </Label>
              </StackLayout>
            </StackLayout>

          </GridLayout>


          <GridLayout row="1" col="0" padding="3">
            <StackLayout backgroundcolor="white">
              <Image src="~/images/road/custom3.jpg" ></Image>
              <StackLayout>
                <Label text="S-Works Tarmac"></Label>
              </StackLayout>
              <StackLayout>
                  <Label text="Crazy combination.

Crimsonred Tarmac frame constructed with the mechanical Shimano Dura Ace group and Roval CL 50 wheels.

The cotton bands make the picture complete." textWrap="true">
                  </Label>
              </StackLayout>
            </StackLayout>

          </GridLayout>


          <GridLayout row="1" col="1" padding="3">
            <StackLayout backgroundcolor="white">
              <Image src="~/images/road/custom4.jpg" ></Image>
              <StackLayout>
                <Label text="S-works Epic HT"></Label>
              </StackLayout>
              <StackLayout>
                  <Label text="Sober but fast!!!

Epic Ht S-WOrks frame built with the Sid brain fork, Roval control carbon wheels and Sram XO group." textWrap="true">
                  </Label>
              </StackLayout>
            </StackLayout>

          </GridLayout>



          <GridLayout row="2" col="0" padding="3">
              <StackLayout backgroundcolor="white">
                <Image src="~/images/road/custom5.jpg" ></Image>
                <StackLayout>
                  <Label text="S-works Epic"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="We have assembled this Epic after a custom paint job with a complete Shimano XTR 11 group, Sid brain fork and DUke wheels.

Here we are just above 9kg.

Lighter is almost impossible" textWrap="true">
                    </Label>
                </StackLayout>
              </StackLayout>

            </GridLayout>



            <GridLayout row="2" col="1" padding="3">
                <StackLayout backgroundcolor="white">
                  <Image src="~/images/road/custom6.jpg" ></Image>
                  <StackLayout>
                    <Label text="S-Works Venge"></Label>
                  </StackLayout>
                  <StackLayout>
                      <Label text="We equipped this Venge frame with Shimano Ultegra D12 group and Roval CL50 wheels."
                      textWrap="true"></Label>
                  </StackLayout>
                </StackLayout>

              </GridLayout>



        </GridLayout>

        <GridLayout class="homeindex">
          <Image src="~/images/newss.jpg"></Image>
            <GridLayout verticalAlignment="bottom">
              <StackLayout>
                  <Label text="ROAD" ></Label>
                </StackLayout>
              </GridLayout>
        </GridLayout>


      </StackLayout>
  </ScrollView>
  </GridLayout>
