<GridLayout rows="auto,*">
    <StackLayout row="0">
        <ActionBar>
            <StackLayout orientation="horizontal">
                <GridLayout>
                    <Label text="&#xf060;" class="fa rad-icon" (tap)="onNavigate()" horizontalAlignment="left"></Label>
            <Image src="~/images/logo1.png" stretch="aspectFill" class="headerimg" verticalAlignment="center"
            horizontalAlignment="left"></Image>

                </GridLayout>
            </StackLayout>
        </ActionBar>
    </StackLayout>


    <ScrollView row="1">
      <StackLayout backgroundcolor="lightgray">

        <GridLayout class="homeindex">
          <Image src="~/images/mountain1.jpg"></Image>
            <GridLayout verticalAlignment="bottom">
              <StackLayout>
                  <Label text="Mountain" ></Label>
                </StackLayout>
              </GridLayout>
        </GridLayout>

        <GridLayout rows="*,*" columns="*,*" >

            <GridLayout row="0" col="0" padding="3">
              <StackLayout backgroundcolor="white">
                <Image src="~/images/road/mount1.jpg" ></Image>
                <StackLayout>
                  <Label text="Cross Country"></Label>
                </StackLayout>
              </StackLayout>
            </GridLayout>

            <GridLayout row="0" col="1" padding="3">
              <StackLayout backgroundcolor="white">
                <Image src="~/images/road/mount2.jpg" ></Image>
                <StackLayout>
                  <Label text="Trail"></Label>
                </StackLayout>
              </StackLayout>
            </GridLayout>

            <GridLayout row="1" col="0" padding="3">
              <StackLayout backgroundcolor="white">
                <Image src="~/images/road/mount3.jpg" ></Image>
                <StackLayout>
                  <Label text="Electric"></Label>
                </StackLayout>
              </StackLayout>
            </GridLayout>

          </GridLayout>

          <GridLayout class="homeindex">
            <Image src="~/images/newss.jpg"></Image>
              <GridLayout verticalAlignment="bottom">
                <StackLayout>
                    <Label text="ROAD" ></Label>
                  </StackLayout>
                </GridLayout>
          </GridLayout>


      </StackLayout>
    </ScrollView>
  </GridLayout>
